* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.App {
    background: rgb(198,195,250);
    background: linear-gradient(325deg, rgba(198,195,250,1) 0%, rgba(43,50,224,1) 0%, rgba(0,212,255,1) 100%);
    width: 100vw;
    height: 100vh;
}